:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
}

#content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: absolute;
  top: 100px;
}
#content h1,
#content h2,
#content h3,
#content h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#content h1 {
  color: rgb(240, 240, 240);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}
#content h2 {
  color: rgb(240, 240, 240);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}
#content h3 {
  color: rgb(240, 240, 240);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}
#content h4 {
  color: rgb(240, 240, 240);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}
#content span {
  color: rgb(240, 240, 240);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}
#content i {
  color: rgb(240, 240, 240);
}
#content #cards {
  display: inline-block;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 1600px;
  width: calc(100% - 20px);
}
#content #cards:hover > .card::after {
  opacity: 1;
}
#content #cards .card {
  border-radius: 10px;
  display: inline-block;
  height: 350px;
  position: relative;
  width: 300px;
}
#content #cards .card:hover::before {
  opacity: 1;
}
#content #cards .card::before {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.01), transparent 40%);
  z-index: 10;
}
#content #cards .card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.05), transparent 40%);
  z-index: 1;
}
#content #cards .card .card-content {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 10;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
#content #cards .card .card-content .card-image {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  overflow: hidden;
  border: solid 1px #2c2c2c;
  border-radius: 10px;
}
#content #cards .card .card-content .card-image img {
  width: auto;
  height: 200px;
}
#content #cards .card .card-content .card-info-wrapper {
  align-items: stretch;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  width: 100%;
}
#content #cards .card .card-content .card-info-wrapper .card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  width: 100%;
}
#content #cards .card .card-content .card-info-wrapper .card-info-content {
  width: 100%;
  width: 100%;
  margin-top: 10px;
}
#content #cards .card .card-content .card-info-wrapper .card-info-content h3 {
  font-size: 1.1em;
  line-height: 20px;
  cursor: pointer;
}
#content #cards .card .card-content .card-info-wrapper .card-info-content h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
  cursor: pointer;
}
#content #cards .card .card-content .card-info-wrapper .card-info-content .card-info-extra {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 5px;
  width: 90%;
  color: rgba(255, 255, 255, 0.5);
}
#content #cards .card .card-content .card-info-wrapper .card-info-content .card-info-extra .card-info-add-favorite {
  width: 30px;
  height: 30px;
  cursor: pointer;
  filter: invert(85%) sepia(0%) saturate(2285%) hue-rotate(36deg) brightness(93%) contrast(91%);
  transition: 2s;
}
#content #cards .card .card-content .card-info-wrapper .card-info-content .card-info-extra .card-info-add-favorite:hover {
  filter: invert(27%) sepia(73%) saturate(7500%) hue-rotate(354deg) brightness(114%) contrast(129%);
}
#content #footer {
  width: 100%;
  position: absolute;
  left: 0px;
}

@media (max-width: 1000px) {
  body {
    align-items: flex-start;
    overflow: auto;
  }
  body #cards {
    max-width: 1000px;
    padding: 10px 0px;
  }
  body #cards .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}
@media (max-width: 500px) {
  .card {
    height: 180px;
  }
  .card .card-image {
    height: 80px;
  }
  .card .card-image > i {
    font-size: 3em;
  }
  .card .card-info-wrapper {
    padding: 0px 10px;
  }
  .card .card-info-wrapper .card-info i {
    font-size: 0.8em;
  }
  .card .card-info-wrapper .card-info .card-info-title h3 {
    font-size: 0.9em;
  }
  .card .card-info-wrapper .card-info .card-info-title h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}
@media (max-width: 320px) {
  .card {
    width: 100%;
  }
}/*# sourceMappingURL=content.css.map */